@keyframes openMenu {
    from {
        overflow: hidden;
        height: 0 !important;
    }

    to {
        overflow: visible;
        height: 200px !important;
    }
}

@keyframes closeMenu {
    from {
        overflow: visible;
        height: 200px !important;
    }

    to {
        overflow: hidden;
        height: 0 !important;
    }
}

.openMenu {
    display: block;
}


.closeMenu {
    display: none;
}

.rotateOverArrow{
    transform: rotate(180deg);
    transition: transform 0.5s ease;
}
.rotateOutArrow{
    transform: rotate(0deg);
    transition: transform 0.5s ease;
}